<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>
  <a href="/">Back to Home</a>
  <%- include('partials/footer') %>
</body>
</html>
